<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1 class="center">---Contact List---</h1>
    <h2 class="center">What would you like to do?</h2>
    
    
    <p>
        <br>
        <br>
        <br>
        <br>
        <a href="/new" class="center">Enter new contact</a>
        <br>
        <a href="/all" class="center">View all contacts</a>
    </p>
</body>
</html>